:root {
    --border: 1px solid #303030;
    --yesteryear: 'Yesteryear', cursive;
    --jost: 'Jost', sans-serif;
    --grey: #858585b6;
}




* {box-sizing: border-box;}

html {
    background: linear-gradient(120.95deg, #fdb0b0, #ffe0c6, #fcaeae, #ffcc9f);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* reference for gradient animation: https://codepen.io/P1N2O/pen/pyBNzX */

body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.cursor {
    background: url('../images/custom.svg');
    height: 50px;
    width: 50px;
    /* border: 2px solid blue; */
    position: absolute;
    z-index: -1;
}

.main-container {
    align-items: center;
    border: 3vh solid #00000000;
    background-clip: content-box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    max-width: 100vw;
    width: 100%;
}


/* -------------------------------- INDEX.HTML ---------------------------------------*/
.fridge-border {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #929292;
    border-radius: 10px;
    height: 1.5vh;
    width: 50vh;
}
.fridge-container {
    background: linear-gradient(162deg, #C8EFEC 2.31%, rgba(255, 255, 255, 0) 91.66%), #56ACA7;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 80vh;
    width: 50vh;
}
.title {
    font-family: var(--yesteryear);
    text-align: center;
    text-shadow: 0px -1px 0.5px rgba(29, 29, 29, 0.74);
}
.title-1 {
    color: #808080;
    font-size: 2.5rem;
    padding: 4vh 0 0.5vh;
}
.title-2 {
    color: #6e6e6e;
    font-size: 4rem;
    padding-bottom: 4vh;
}
.fridge-handle-1 {
    background: linear-gradient(90deg, #FFFFFF -37.12%, rgba(255, 255, 255, 0) 73.4%), #6F6F6F;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10vh 0 12vh 5vh;
    width: 2vh;
    height: 30vh;
}
.fridge-handle-1:hover, .fridge-handle-2:hover {
    box-shadow: 5px 5px 10px #ffc9a28c;
    cursor: pointer;
}
.magnet {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: var(--grey);
    font-family: var(--jost);
    padding: 1.2vh 1vh;
    text-align: center;
    text-shadow: 0px -0.5px 0px rgba(43, 43, 43, 0.74);    
    user-select: none;
}
.magnet-1 {
    background: linear-gradient(262.92deg, #FFC9A2 -10.44%, rgba(255, 255, 255, 0) 107.3%), #FFC4C2;
    margin: 0 0 8vh 12vh;
    transform: rotate(-8.48deg);
    width: 17vh;
}
.magnet-2 {
    background: linear-gradient(257.9deg, #FFA2A2 9.51%, rgba(255, 255, 255, 0) 78.84%), #FFC4C2;
    margin: 0 0 8vh 15vh;
    transform: rotate(2deg);
    width: 10vh;
}
.magnet-3 {
    background: linear-gradient(126.72deg, #FBF4B7 -19.61%, rgba(255, 255, 255, 0) 105.79%), #FFC4C2;
    margin-left: 12vh;
    transform: rotate(5.11deg);
    width: 19vh;
}
.fridge-bottom {
    background: linear-gradient(25deg, #9cdad4 2.31%, rgba(255, 255, 255, 0) 91.66%), #389c97;
    border-radius: 10px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.25);
    height: 20vh;
    width: 50vh;
}
.fridge-handle-2 {
    background: linear-gradient(180deg, #FFFFFF -37.12%, rgba(255, 255, 255, 0) 73.4%), #6F6F6F;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    margin: 5vh auto;
    width: 25vh;
    height: 2vh;
}

/* --------------------------------------FRIDGE.HTML---------------------------------- */

.main-container-2 {
    align-items: flex-start;
    background-clip: content-box;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100vh;
}
.fridge-container-2 {
    display: flex;
    width: fit-content;
}
.fridge-inner {
    background: linear-gradient(162deg, #C8EFEC 2.31%, rgba(255, 255, 255, 0) 91.66%), #56ACA7;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.25);
    height: 70vh;
    width: 50vh;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.fridge-inner-2 {
    background: linear-gradient(164.24deg, #FFFFFF -3.74%, rgba(255, 255, 255, 0) 102.26%), #8A8A8A;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 96%;
}
.prompt {
    background: linear-gradient(180deg, #5AA9A4 -46.15%, rgba(255, 255, 255, 0) 219.23%), #B1DEDC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: var(--grey);
    font-family: var(--yesteryear);
    font-size: 2rem;
    padding: 4vh 0 3vh;
    text-align: center;
    text-shadow: 0px -1px 0.5px rgba(29, 29, 29, 0.74);
    width: 100%;
}
.shelf {
    align-items: flex-end;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
    height: 23%;
    width: 100%; 
}
.shelf-2 {
    height: 10%;
    width: 100%; 
}
.shelf-divider {
    background: linear-gradient(180deg, #C3F8F5 -46.15%, rgba(255, 255, 255, 0) 219.23%), #006F69;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 1vh;
    width: 100%;
}
.food-containers {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-top: 10px solid #dfa9a9;
    cursor: pointer;
}
#food-container-1 {
    background: #FFC4C2;
    height: 40%;
    width: 30%;
}
#food-container-2 {
    background: #FFE3CA;
    height: 70%;
    width: 20%;
}
#food-container-3 {
    background: #FFD7D6;
    height: 60%;
    width: 25%;
}
#food-container-4 {
    background: #f7cfac;
    height: 70%;
    width: 20%;
}
#food-container-5 {
    background: #FFC4C2;
    height: 60%;
    width: 25%;
}
#food-container-6 {
    background: #FFBEB1;
    height: 40%;
    width: 30%;
}
#food-container-7 {
    background: #fcc3b8;
    height: 60%;
    width: 25%;
}
#food-container-8 {
    background:  #FFC9A1;;
    height: 40%;
    width: 30%;
}
#food-container-9 {
    background: #fae1c9;
    height: 70%;
    width: 20%;
}
.fridge-door {
    align-items: center;
    background: linear-gradient(162deg, #C8EFEC 2.31%, rgba(255, 255, 255, 0) 91.66%), #56ACA7;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    height: 70vh;
    justify-content: center;
    width: 45vh;
}
.fridge-door-inner {
    align-items: center;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EDDCDB;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 96%;
    justify-content: center;
    width: 95%;
}
h1 {
    color: #7a7a7a;
    font-family: var(--yesteryear);
    font-size: 2rem;
    text-shadow: 0px -1px 0.5px rgba(233, 233, 233, 0.815);
}
#cuisine {
    background: #B1DEDC;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: var(--grey);
    font-family: var(--jost);
    font-size: 1rem;
    font-weight: bold;
    padding: 1.8vh 5vh 1.5vh 5vh;
}
.close-fridge {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.8rem;
    margin: 5vh 0 0 79vh;
    padding: 1vh 1.5vh;
}
.more-options {
    background: linear-gradient(106.72deg, #FBF4B7 -19.61%, rgba(255, 255, 255, 0) 105.79%), #FFC4C2;
    margin: 60vh 0 0 72vh;
    padding: 1vh 2vh; 
    transform: rotate(2.11deg);
}
.button {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: #818181;
    cursor: pointer;
    font-family: var(--jost);
    font-weight: bold;
    position: absolute;
    z-index: 1;
}

/* -------------------------------CHOICES.HTML------------------------------- */

.main-container-3 {
    align-items: center;
    border: 3vh solid #00000000;
    background-clip: content-box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    max-width: 100vw;
    width: 100%;
}
.top-handle {
    background: linear-gradient(90deg, #FFFFFF -37.12%, rgba(255, 255, 255, 0) 73.4%), #6F6F6F;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 5vh;
    width: 1vh;
    height: 30vh;
}
.handle-divider {
    height: 25vh;
}
.bottom-handle {
    background: linear-gradient(180deg, #FFFFFF -37.12%, rgba(255, 255, 255, 0) 73.4%), #6F6F6F;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    height: 2vh;
    width: 1vh;
}
.fridge-border-side {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #929292;
    border-radius: 10px;
    height: 1.5vh;
    width: 3vh;
}
.fridge-container-side {
    background: linear-gradient(90deg, #C8EFEC 2.31%, rgba(255, 255, 255, 0) 91.66%), #56ACA7;
    border-radius: 10px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.25);
    height: 68.5vh;
    width: 3vh;
}
.fridge-bottom-side {
    background: linear-gradient(90deg, #9cdad4 2.31%, rgba(255, 255, 255, 0) 91.66%), #389c97;
    border-radius: 10px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.25);
    height: 20vh;
    width: 3vh;
}
.fridge-container-3 {
    background: linear-gradient(162deg, #C8EFEC 2.31%, rgba(255, 255, 255, 0) 91.66%), #56ACA7;
    border-radius: 10px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 50vh; 
}
.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prompt-2 {
    color: var(--grey);
    font-family: var(--yesteryear);
    font-size: 2rem;
    padding: 4vh 0 0;
    text-align: center;
    text-shadow: 0px -1px 0.5px rgba(29, 29, 29, 0.74);
    width: 100%;
}
#moods {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 20vh;
    justify-content: center; 
    padding: 0 2vh;
}
li {
    align-items: center;
    background: linear-gradient(262.92deg, #FFC9A2 -10.44%, rgba(255, 255, 255, 0) 107.3%), #FFC4C2;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    color: var(--grey);
    display: flex;
    font-family: var(--jost);
    font-size: 1rem;
    justify-content: center;
    list-style-type: none;  
    margin: 1vh;
    padding: 1.3vh 2vh;
    text-align: center;
    text-shadow: -0.5px -0.5px 0.5px rgba(29, 29, 29, 0.74);
    user-select: none;
}
li > p {
    margin: 0;
    text-align: center;
}
input {
    background: #B1DEDC;
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: var(--grey);
    font-family: var(--jost);
    margin: 2vh auto;
    padding: 1vh;
    text-align: center;
    text-shadow: -0.5px -0.5px 0.5px rgba(29, 29, 29, 0.74);
}
.mood-magnet {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.hidden {
    display: none;
    transition: display 2s;
}
.selected {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#final-result {
    align-items: center;
    background: linear-gradient(257.9deg, #FFA2A2 9.51%, rgba(255, 255, 255, 0) 78.84%), #FFC4C2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5vw;
}
#name-result {
    color: var(--grey);
    font-family: var(--yesteryear);
    font-size: 2rem;
    margin: 3.5vh 0;
    text-align: center;
    text-shadow: 0px -1px 0.5px rgba(29, 29, 29, 0.74);
}
#food-result {
    color: var(--grey);
    font-family: var(--jost);
    line-height: 1.5rem;
    font-size: 1rem;
    padding: 0 5vh 3vh;
    margin: 0;
    text-align: center;
    text-shadow: 0px -0.5px 0.5px rgba(29, 29, 29, 0.74);
}
.back-button {
    background: linear-gradient(106.72deg, #FBF4B7 -19.61%, rgba(255, 255, 255, 0) 105.79%), #FFC4C2;
    bottom: 10%;
    cursor: pointer;
    padding: 1vh 2vh; 
}


/* ---------------MEDIA QUERIES--------------- */

@media screen and (max-width: 1024px) {
    .fridge-container, .fridge-border, .fridge-bottom, .fridge-inner, .fridge-door, .fridge-container-3 {
        width: 40vh;
    }
    .title-1 {
       font-size: 1.7rem; 
    }
    .title-2 {
        font-size: 3rem; 
    }
   .magnet-3 {
    margin-left: 9vh;
   }
   .cursor {
       display: none;
   }
   .prompt, .prompt-2, .prompt-3, h1, #name-result{
       font-size: 1.7rem;
   }
   .fridge-container-2 {
        flex-direction: column;
   }
   .fridge-door{
        height: 27vh;
   }
   .fridge-inner{
    height: 60vh;
   }
   .fridge-door-inner {
       height: 25vh;
   }
   .mobile-hidden {
       display: none;
   }
   .more-options {
        margin: 81vh 0 0 26vh;
        padding: 1vh;
   }
   .close-fridge {
        margin: 81vh 0 0 2vh;
        padding: 1vh;
   }
   .button {
    font-size: 0.6rem;
   }
}


