:root {
    --border: 1px solid #303030;
    --karla: 'Karla', sans-serif;
}

* {box-sizing: border-box;}


html {
    /* border: var(--border); */
    color: #303030;
}

body {
    font-family: var(--karla);
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.main-container {
    align-items: center;
    border: 3vh solid #00000000;
    box-shadow: inset 0 0 0 0.1rem #303030;
    background-clip: content-box;
    justify-content: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100vh;
    max-width: 100vw;
    width: 100%;
   
}

.header {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    left: 0%;
    position: fixed;
    overflow: hidden;
    top: 0%;
    width: 100vw;
    padding: 2vh;
    margin: 0; 
    text-align: center;
}

.header-text {
    background-color: #fff;
    padding: 0 2vh;
}

.footer {
    bottom: 0%;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    left: 0%;
    overflow: hidden;
    position: fixed;
    min-width: 0;
    padding: 2vh;
    margin: 0;  
    width: 100vw;
}

.footer-text-1 {
    background-color: #fff;
    padding: 1vh 2vh 0 0;
}

.footer-text-2 {
    background-color: #fff;
    padding: 1vh 0 0 2vh;
}

/* INDEX.HTML */

.title-1 {
    font-size: 2rem;
    padding-bottom: 0.5vh;
}

.title-2 {
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 2vh;
}

.view-menu {
    background-color: #ffffff00;
    border: 0.1rem solid #303030;
    color: #303030;
    margin-top: 2rem;
    padding: 0.9rem 1.5rem;
}



/* MEDIA QUERIES */

/* iPhone/Mobile Screen */
@media screen and (max-width: 650px) {
    .title-1 {
       font-size: 1.3rem; 
    }
    
    .title-2 {
        font-size: 2.5rem; 
        text-align: center;
    }

    .view-menu {
        font-size: 0.8rem;
        padding: 0.6rem 1rem;
    }

}